
.todo-header{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  .header-heading{
    font-size: 2.5rem;
    color: var(--header-heading);
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    font-weight: 700;
  }
  .theme-block{
    #theme{
        width: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    &+label::before{
      content: '';
      background:url(../../assets/images/icon-sun.svg) center no-repeat;
      display: block;
      width:2rem;
      height:2rem;
    }
    &:checked +label::before{
      background: url(../../assets/images/icon-moon.svg) center no-repeat;
    }
    }
    .theme-logo{
      width: 2rem;
      height: 2rem;
      background-size: cover;
    }

  }
}


@media screen and (max-width:430px) {
.todo-header{
  .header-heading{
    font-size: 1.8rem;
    letter-spacing: 0.3rem;
  }
}
}
