// Variables
$todo-bg: var(--todo-bg);
$font-color: var(--font-color);
$border-bottom: var(--border-bottom);
$todoBtns-font-color: var(--todoBtns-font-color);
$todoBtn-active: var(--todoBtn-active);
$todoBtns-font-hover: var(--todoBtns-font-hover);

// Main Items Background
.main-items-bg {
  background: $todo-bg;
  border-radius: 0.4rem;
}

.active-check {
  background: linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
// Add New Item & Hero

.todo-main{
  .add-new-item{
  border-radius: 0.4rem;
  background: var(--addnewtodo-bg);
  padding: 1rem 2rem;
  color: $font-color;
  display: flex;
  margin-bottom: 2rem;
  width: 100%;
  span {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    margin-right: 1rem;
    border: 1px solid $font-color;
    display: inline-block;
    vertical-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: center url(./images/icon-check.svg) no-repeat,
        linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    }
  }
  #add-item {
    color: $font-color;
    border: 0;
    display: flex;
    flex-grow: 1;
    outline: 0;
    width: 100%;
  background: var(--addnewtodo-bg);

  }
  }
  .todo-hero{
      background: $todo-bg;
  border-radius: 0.4rem;
    .todo-content{
      // Todo List and Items
.todo-items {
  .todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 1px solid $border-bottom;
    position: relative;
    color: $font-color;
    transition: all 0.2s ease-in-out;
    cursor: grab;
    &.dragging{
      opacity: 0.5;
    }
    &.drop-target{
      border: 2px dashed #3a7bfd;
    }
    &:hover {
      .delete-btn {
        display: block;
      }
    }
    &:hover {
      transform: translateY(-3px);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .list-item {
      width: 100%;
      display: flex;
      align-items: center;
      input[type="checkbox"] {
        display: none;
        &:checked ~ .custom-checkmark {
          background: center url(../../assets/images/icon-check.svg) no-repeat,
            linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
        }
         &:checked ~ .to-do-text {
            text-decoration: line-through;
          }
      }
      .custom-checkmark {
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        margin-right: 1rem;
        border: 1px solid $font-color;
        display: inline-block;
        vertical-align: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          display: none;
        }
        &:hover {
          background: center url(./images/icon-check.svg) no-repeat,
            linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
        }
      }

      .to-do-text {
        margin-left: 2rem;
      }
    }
  }

  .delete-btn {
    display: none;
  }
}
    }
    // Todo Buttons
.todo-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: $todoBtns-font-color;
  .filters {
    .filter {
      border: none;
 background-color: var(--todo-btns-bg);
      outline: none;
      padding-left: 0.5rem;
      color: $todoBtns-font-color;
      &.active {
        color: $todoBtn-active;
      }
      &:hover {
        color: $todoBtns-font-hover;
      }
    }
  }

  .clear-btn {
    border: none;
    background-color:var(--todo-btns-bg);
    outline: none;
    color: $todoBtns-font-color;

    &:hover {
      color: $todoBtns-font-hover;
    }
  }
}
  }
}




@media screen and (max-width: 430px) {
.todo-main{
  .add-new-item{
  padding: 1rem 1.2rem;
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
  span {
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    display: inline-block;
    vertical-align: center;
  }

  #add-item {
    &::placeholder{
      font-size: 1.2rem;
    }
  }
}
  .todo-hero{
    .todo-content{
.todo-items {
  .todo-item {
    padding: 1rem 1.2rem;
    .list-item {
 font-size: 1.2rem;
      }
      .custom-checkmark {
        height: 1.2rem;
        width: 1.2rem;
        border-radius: 50%;
        margin-right: 1rem;
      .to-do-text {
        margin-left: 1rem;
      }
    }
  }
}
    }
    .todo-btns{
      position: relative;
      .filters{
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
  padding: 1rem 1.2rem;
border-radius:0.4rem ;
  background: var(--addnewtodo-bg);
color: $font-color;
position: absolute;
top: 3rem;
left:50%;
transform: translateX(-50%);
width: 100%;
      }
    }
}
}
}







